<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084819326792-61q6m5a7s25e8cr8vtbij0e3s5qre2c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084819326792-61q6m5a7s25e8cr8vtbij0e3s5qre2c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCCt1i-pGCm6OUkzpC_RJrRvUpWRca85SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1084819326792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enfp</string>
	<key>PROJECT_ID</key>
	<string>enfp-7667a</string>
	<key>STORAGE_BUCKET</key>
	<string>enfp-7667a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084819326792:ios:5033db7b841e927151d57d</string>
</dict>
</plist>